.config/doublecmd/*

!.config/doublecmd/doublecmd.xml
!.config/doublecmd/doublecmd.cfg
!.config/doublecmd/colors.json
!.config/doublecmd/shortcuts.scf
!.config/doublecmd/pixmaps.txt

.config/zsh/.zcompdump
