* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11px;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}


window#waybar {
  background: #000000;
  font-weight: normal;
  color: #ffffff;
}

#workspaces button {
  padding: 0 3px;
  background: transparent;
  color: #aaaaaa;
  border-radius: 0;
  font-size: 12px;
}

#workspaces button.focused {
  background: #2596be;
  color: #ffffff;
}

#workspaces button:hover {
  background: #222222;
}

#window,
#workspaces {
    margin: 0 3px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#network,
#pulseaudio,
#custom-nmvpn,
#custom-kb_layout,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#pulseaudio.muted {
    color: #ffff00;
}

#memory.warning {
    color: #ffff00;
}

#memory.critical {
    color: #ff0000;
}

/* #custom-nmvpn.connected { */
/*     color: rgba(0x29, 0x80, 0xb9, 0.8); */
/*     box-shadow: inset 0 -3px rgba(0x29, 0x80, 0xb9, 1.0); */
/* } */
/**/
/* #custom-nmvpn.disconnected { */
/*     color: rgba(0xf5, 0x3c, 0x3c, 0.8); */
    /* box-shadow: inset 0 -3px rgba(0xf5, 0x3c, 0x3c, 1.0); */
/* } */
/**/
/* #custom-nmvpn.error { */
/*     background-color: rgba(0xeb, 0x4d, 0x4b, 0.8); */
/*     box-shadow: inset 0 -3px rgba(0xeb, 0x4d, 0x4b, 1.0); */
/* } */
