window {
  margin: 0px;
  border: 2px solid #61afef;
  background-color: #282c34;
  border-radius: 6px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

#input {
  margin: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  color: #abb2bf;
  background-color: #21252b;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  margin: 5px;
}

#scroll {
  margin: 0px;
}

#entry {
  padding: 8px 10px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #3e4451;
}

#entry:selected #text {
  color: #61afef;
}

#text {
  color: #abb2bf;
}

#img {
  margin-right: 10px;
}
